@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Pacifico&display=swap');

.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
  }

  .Header_titulo h2{
color: white;
font-family: 'Fira Code', monospace;
  }